@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", serif;
}

header{
    background-color: #B4D191;
    height: 119px;
    text-align: center;

}

nav{
    background-color: #B4D191;
    height: 79px;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #000000;
}

main{
    background-color: #2F9200;
    height: 1381px;
}

h1{
    color: white;
    text-align: center;
}

.products{
    width: 900px;
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    
}

article{
    background-color: #6C913E;
    height: 450px;
    width: 400px;
    text-align: center;
    border-radius: 20px;
}

.item a{    
    background-color: #3E7020;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 24px;
}

.item h3{
    font-size: 32px;
    font-weight: 300;
    margin: 25px;
}

.item p{
    margin-bottom: 10px;
    font-size: 20px;
}


footer{
    background-color: #B4D191;
    height: 181px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.images{
    height: 375px;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

.explanation{
    color: white;
    text-align: center;
}

.container{
    height: 295px;
    width: 420px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.present{
    padding: 50px;
    background-color: #D9D9D9;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Random{
    text-align: center;
    color: white;
}

.Gift{
    color: white;
    text-decoration: none;
    background-color: #60BA60;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

nav a:hover{
    opacity: 0.8;
    color: #3E7020;
}
